<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Neighborhood indicators</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.2/leaflet.js"></script>

    <style>
        #map {
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <h1>Neighborhood indicators</h1>
    <table>
        <tr>
            <th>Neighborhood</th>
            <th>Hispanic</th>
            <th>White</th>
            <th>Black</th>
            <th>Other race</th>
            <th>Foreign-born</th>
            <th>Homeownership</th>
            <th>Poverty rate</th>
            <th>Low-income rate</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td><a href="{{ obj.id }}">{{ obj.neighborhood }}</a></td>
            <td>{{ obj.hispanic }}</td>
            <td>{{ obj.white }}</td>
            <td>{{ obj.black }}</td>
            <td>{{ obj.other }}</td>
            <td>{{ obj.foreign }}</td>
            <td>{{ obj.homeownership }}</td>
            <td>{{ obj.poverty }}</td>
            <td>{{ obj.low_income }}</td>
        </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        var map = L.map('map').setView([41.3083, -72.9279], 12);
        var basemap = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}.{ext}', {
        	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        	subdomains: 'abcd',
        	minZoom: 0,
        	maxZoom: 20,
        	ext: 'png'
        });
        map.addLayer(basemap);

        var data = {
            'type': 'FeatureCollection',
            'features': [
                {% for obj in object_list %}
                {
                    'type': 'Feature',
                    'properties': {
                        'neighborhood': '{{ obj.neighborhood }}',
                        'id': '{{ obj.id }}'
                    },
                    'geometry': {
                        'type': 'Point',
                        'coordinates': [{{ obj.x }}, {{ obj.y }}]
                    }
                } {% if not loop.last %}, {% endif %}
                {% endfor %}
            ]
        };
        var dataLayer = L.geoJson(data, {
            pointToLayer: function(feature, latlng) {
                return new L.CircleMarker(latlng, {radius: 9, fillOpacity: 0.8});
            },
            style: {
                'color': 'rgb(112, 66, 180)',
                'stroke-width': 0
            },
            onEachFeature: function(feature, layer) {
                layer.bindPopup(
                    '<a href="' + feature.properties.id + '">' + feature.properties.neighborhood + '</a>'
                );
            }
        });
        map.addLayer(dataLayer);
    </script>

</body>
</html>
